[Unit]
# Human readable name of the unit
Description=Javier Clocking System replacement script
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/javier/nfc/clockin.py
Restart=always

[Install]
WantedBy=multi-user.target

